name: Manual Simple Build (No Dev Account)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest

      - name: Build iAPS (Generic iOS Device)
        run: |
          xcodebuild archive \
          -workspace Fast-iAPS.xcworkspace \
          -scheme iAPS \
          -configuration Release \
          -archivePath iAPS.xcarchive \
          -sdk iphoneos \
          CODE_SIGNING_ALLOWED=NO

      - name: Prepare IPA
        run: |
          mkdir -p Payload
          cp -r iAPS.xcarchive/Products/Applications/iAPS.app Payload/
          zip -r iAPS.ipa Payload

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: iAPS-unsigned-ipa
          path: iAPS.ipa
